.card {
  /* backdrop-filter: blur(7px) saturate(139%); */
  background-color: #BDBDBD;
  border-radius: 50px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
  width: 50vw;
  height: 40px;
}

body {
  display: flex;
  justify-content: center;
}
