.img-container {
  width: 30%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdbdbd;
  border-radius: 200px;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
}

.img-container img {
  width: 830px;
  height: 830px;
  border-radius: 50px;
  object-fit: cover;
}
